<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問合せ一覧</title>
</head>
<body>
	<h2>お問合せ一覧</h2>
	
	<!--試し書き-->
	<table border="1">
	        <thead>
	            <tr>
	                <th>お問い合わせID</th>
	                <th>姓</th>
	                <th>名</th>
	                <th>お問い合わせ種別</th>
	                <th>作成日時</th>
	                <th>更新日時</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="contact : ${contactsList}">
	                <td><a th:href="@{|/admin/contacts/${contact.id}|}" th:text="${contact.id}">Contact ID</a></td>
	                <td th:text="${contact.lastName}">Last Name</td>
	                <td th:text="${contact.firstName}">First Name</td>
	                <td th:text="${contact.contactType}">Contact Type</td>
	                <td th:text="${contact.createdAt}">Created At</td>
	                <td th:text="${contact.updatedAt}">Updated At</td>
	            </tr>
	        </tbody>
	    </table>
	<!--ここまで-->
	
	<!--サインアウトボタン-->
	<div th:insert="common/sourceList::sourceList"></div>
	<div th:replace="common/signout::signout"></div>
</body>
</html>