<!DOCTYPE html>
 <html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<table border="1">
	        <tr>
	            <th>お問い合わせID</th>
	            <td th:text="${contact.id}">ID</td>
	        </tr>
	        <tr>
	            <th>姓</th>
	            <td th:text="${contact.lastName}">Last Name</td>
	        </tr>
	        <tr>
	            <th>名</th>
	            <td th:text="${contact.firstName}">First Name</td>
	        </tr>
	        <tr>
	            <th>メールアドレス</th>
	            <td th:text="${contact.email}">Email</td>
	        </tr>
	        <tr>
	            <th>電話番号</th>
	            <td th:text="${contact.phone}">Phone</td>
	        </tr>
	        <tr>
	            <th>郵便番号</th>
	            <td th:text="${contact.zipCode}">Zip Code</td>
	        </tr>
	        <tr>
	            <th>住所</th>
	            <td th:text="${contact.address}">Address</td>
	        </tr>
	        <tr>
	            <th>建物名</th>
	            <td th:text="${contact.buildingName}">Building Name</td>
	        </tr>
	        <tr>
	            <th>お問い合わせ種別</th>
	            <td th:text="${contact.contactType}">Contact Type</td>
	        </tr>
	        <tr>
	            <th>内容</th>
	            <td th:text="${contact.body}">Body</td>
	        </tr>
	        <tr>
	            <th>作成日時</th>
	            <td th:text="${contact.createdAt}">Created At</td>
	        </tr>
	        <tr>
	            <th>更新日時</th>
	            <td th:text="${contact.updatedAt}">Updated At</td>
	        </tr>
	    </table>
	
	    <form th:action="@{/admin/contacts/delete/{id}(id=${contact.id})}" method="post">
	        <button type="submit">削除</button>
	    </form>
	
	    <!-- サインアウトボタン -->
	    <div th:insert="common/sourceList::sourceList"></div>
	    <div th:replace="common/signout::signout"></div>
	
	
</body>
</html>